.wrapper{
	background-color: #F4F4F4;
	overflow: hidden;
	margin: 0 auto;
}
.main{
	margin: 24px 0 0 0;
}
.header{
	margin: 20px 0 1px 20px;
	font-size: 18px;
	font-family: arial;
	font-weight: 900px;
}


/*-----------------------------------------------sidebar_left---------------------------------------------*/
.sidebar_left{
	float: left;
	text-align: left;
	margin: 0 0 0 20px;
	width: 120px;
}
.lsidebar_foto{
	width: 140px;
	height: 63px;
	margin: 12px 0 28px 0;
}
.high_text{
	font-family: tahoma;
	font-size: 11px;
	width: 140px;
	line-height: 16px;
	
}
.sidebar_left_title {
	font-family: tahoma;
	text-align: left;
	font-size: 11px;
	margin: 0 0% 1% 0;
	color: #191919;
	font-weight: 700px;
	margin: 0 0 6px 0;
}
.left_nav{
	font-family: tahoma;
	font-size: 11px;
	padding: 6px 0 6px 5px;
}
.left_nav li{
	padding: 5px;
	margin: 5px 0;
	background: #e8e8e8;}

.left_nav li:hover{
	background: gray;
}
.left_nav li a{
	text-decoration: none;
	color: #191919;
}
.right{
	float: right;
	color: #888888;
	font-size: 11px;
}
.right:hover{
	background: gray;
}

/*-----------------------------------------------content-------------------------------------*/
.content{
	float: left;
	margin: 0 20px 0 20px;
	/*width: 500px;
	height: 1000px;*/
	overflow: hidden;
	}
.main_foto{
	width: 500px;
	height: 250px;
	padding: 14px 0 0 0;
	}
 h1 {
	font-family: arial;
	font-size: 24px;
	text-align: left;
	padding: 0px;
	margin: 8px 0 0 0;
	}
.heading{
	font-family: tahoma;
	font-size: 11px;
	color: #191919;
}
.text_ande_foto{
	font-size: 11px;
	font-family: tahoma;
	color: #555555;
	width: 438px;
	text-align: left;
	margin: 31px 0 0 0;
}
.second_title{
	font-family: arial;
	font-size: 18px;
	color: #555555;
	padding: 7px 0 13px 0;
}
.post_img_1{
	width: 240px;
	height: 122px;
	float: right;
	padding: 0;
}
.post_img_2{
	width: 240px;
	height: 122px;
	float: right;
}
.blok_post_1{
	overflow: hidden;
	width: 240px;
}
.blok_post_2{
	overflow: hidden;
	width: 240px;
}
.text_post{
	font-family: tahoma;
	font-size: 11px;
	font-weight: 500px;
	color: #555555;
	padding: 0 0 23px 0;
	line-height: 16px;
}
.pagination ul li{
	display: inline;
	background: #ffffff;
	padding: 5px;
}
.pagination ul li a:hover{
	background: #555555;
	padding: 5px;
}
.pagination li a{
	text-decoration: none;
	color: #191919;
}
.name_page{
	background-color: #f4f4f4;
}
.name_page:hover{
	background: #f4f4f4;
}
.highlighted_item{
	background: #555555;
	padding: 5px;
}
.date_1{
	padding: 25px 0 58px 0;
	font-family: tahoma;
	font-size: 11px;
	line-height: 16px;
}
.date{
	border-top: 2px solid #555555;
	font-size: 11px;
	font-family: tahoma;
	padding: 5px 0 58px 0;
}
.other_color{
	color: #888888;
}

/*-----------------------------------------------sidebar_right-------------------------------------------*/
.sidebar_right{
	text-align: left;
}
.sidebar_160{
	text-align: left;
	width: 160px;
	float: left;
	margin-right: 23px;
	color: #000000;
	line-height: 16px;
}
.sidebar_120{
	text-align: left;
	width: 120px;
	overflow: hidden;
	color: #555555;
	line-height: 16px;
	}	
.two_sidebar{
	font-family: tahoma;
	font-size: 11px;
	font-weight: 500px;
	}
h4 {
	font-family: tahoma;
	text-align: left;
	font-size: 11px;
	color: #191919;
	font-weight: 900;
	margin: 0 0 7px 0;
	}
.rsidebar_img{
	float: left;
	width: 300px;
	/*height: 250px;*/
	margin: 23px 15px 38px 0;
}
.logo_t_1 {
	float: left;
	margin: 0 6px 0 0;
}
.logo_t_2{
	float: left;
	margin: 0 6px 0 25px
}
.name_logo_tw{
	color: #000000;
	width: 70px;
	font-weight: 700px;
	font-family: tahoma;
	float: left;
	font-size: 11px;
}
.name_logo_rss{
	color: #000000;
	width: 70px;
	font-weight: 700px;
	font-family: tahoma;
	float: left;
	font-size: 11px;
	margin: 0 0 0 0;
}
.number_logo_1{
	color: #888888;
	float: left;
	font-size: 11px;
	font-family: tahoma;
}
.number_logo_2{
	color: #888888;
	float: left;
	font-size: 11px;
	font-family: tahoma;
}

/*-----------------------------------------------footer---------------------------------------------*/
.footer{
	overflow: hidden;
	font-family: tahoma;
	font-size: 11px;
	font-color: #555555;
	margin: 20px 0 50px 20px;
	width: 120px;
}